.product-list__table {
  width: 100%;
  margin: 20px 0;

  .product-list__title {
    color: grey;
    font-weight: lighter;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
  }

  td {
    position: relative;
  }

  .product-list__button-wrapper {
    width: 100%;
    display: flex;
  }

  .product-list__button-sell {
    padding: 10px;
    border: none;
    background-color: $primary-color;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    flex-grow: 1;
  }
  .product-list__button-undo {
    padding: 10px;
    border: none;
    border-radius: 10px;

    svg {
      color: white;
    }

    :disabled {
      background-color: $dark-color;
    }
  }
  .product-list__image {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    border: 2px solid white;
    filter: grayscale(100%);
    transition: filter 0.3s ease;

    &:hover {
      filter: grayscale(0%);
    }
  }

  .product-list__name {
    flex-grow: 1;
    width: fit-content;
    width: 0;
  }

  .product-list__button-edit {
    padding: 10px;
    border: none;
    background-color: $secondary-color;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
  }

  .product-list__button-delete {
    padding: 10px;
    border: none;
    background-color: $dark-color;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
}
.inventory-list__controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
  align-items: center;

  .inventory-list__search {
    display: flex;
    flex-grow: 1;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 10px;

    input {
      border: none;
      background: none;
      outline: none;
      padding: 5px;
    }

    svg {
      margin-right: 10px;
      color: $grey-color;
    }
  }

  .inventory-list__sort {
    position: relative;
    width: 200px;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 14px 10px;

    .inventory-list__sort-button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 5px;
      width: 100%;

      svg {
        color: grey;
        width: 15px;
      }
    }

    .inventory-list__sort-button-title {
      flex-grow: 1;
      font-size: 15px;
      font-weight: lighter;
      text-align: left;
      color: $dark-color;
    }

    .inventory-list__sort-menu {
      position: absolute;
      width: 100%;
      top: 100%;
      right: 0;
      background: #f1f1f1;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: none;
      flex-direction: column;
      z-index: 1000;

      button {
        background: none;
        border: none;
        padding: 10px;
        text-align: left;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;

        &:hover {
          background: #f1f1f1;
        }
      }
    }

    &:hover .inventory-list__sort-menu {
      display: flex;
    }
  }
}
